/*初始化*/
*{
    box-sizing: border-box;
}
body,p,h1,h2{
    margin:0;
    padding:0;
}
ul,li{
    padding:0;
    margin:0;
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    vertical-align:top;
}
